In [1]:
print([1,2,3])

[1, 2, 3]

In [2]:
print([1,2,3])
print([4,5,6])
print([7,8,9])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [3]:
def display(row1, row2, row3):
    print(row1)
    print(row2)
    print(row3)

In [5]:
row1 = ['','','']
row2 = ['','','']
row3 = ['','','']

In [6]:
display(row1,row2,row3)

['', '', '']
['', '', '']
['', '', '']

In [7]:
row2[1] = 'X'

In [8]:
display(row1,row2,row3)

['', '', '']
['', 'X', '']
['', '', '']

In [13]:
name = input("Please enter your name: ")

Please enter your name: Hussein

In [11]:
res = input("Please enter an integer: ")

Please enter an integer: 32

In [12]:
res

'32'

In [14]:
name

'Hussein'

In [15]:
type(res)

str

In [17]:
type(name)

str

In [18]:
result = input("Enter an integer: ")

Enter an integer: 12

In [21]:
result_int = int(result)

In [22]:
res_int = int(res)

In [23]:
result_int

12

In [24]:
res_int

32

In [25]:
type(2.5)

float

In [26]:
float('3.14')

3.14

In [35]:
pos_index = int(input("Choose an index position: "))

Choose an index position: two

ValueError: invalid literal for int() with base 10: 'two'

In [32]:
type(pos_index)

int

In [33]:
row2[pos_index]

''

In [34]:
row2

['', 'X', '']