In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
mydict = {'k':'v'}

In [6]:
type(mydict)

dict

In [7]:
t = ('one', 3)

In [8]:
t[1
]

3

In [9]:
t[-1]

3

In [11]:
t[0]

'one'

In [12]:
t = ('a', 'a', 'A', 'b')

In [13]:
t.count('a')

2

In [14]:
t.count('A')

1

In [15]:
t.index('a')

0

In [17]:
t.index('b')

3

In [18]:
mylist

[1, 2, 3]

In [19]:
mylist[0] = 'NEW'

In [20]:
mylist

['NEW', 2, 3]

In [21]:
t[0] = 'NEW NEW'

TypeError: 'tuple' object does not support item assignment